{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="/webview/css/level.css">
{% endblock %}
{% block content %}
	<div class="g-bd">
		<div class="g-hd">
 			<div class="m-icon">
 				<img src="http://tva2.sinaimg.cn/crop.14.0.722.722.180/b06c6ba9jw8f8ko6nhcngj20ku0k2ac1.jpg" alt="">
 				<div class="m-level">
 					<div class="level"><i class="crown"></i>Lv24</div>
 				</div>
 			</div>
 			<div class="m-pro f-cb">
 				<span class="f-fl">Lv.24</span>
 				<div class="progress f-fl">
			      	<span class="orange" id="bar" style="width:50%;"><span></span></span>
			    </div>
			    <span class="f-fl">Lv.25</span>
 			</div>
 			<p class="tip">距离LV.4 还差792</p>
 		</div>
 		<div class="g-md">
 			<h3>如何升级</h3>
 			<p>每次充值赠送礼物，均可获得经验值奖励，累计经验即可提升等级！</p>
 		</div>
 		<div class="g-bt">
 			<h3>等级特权</h3>
 			<div class="m-badge f-cb">
 				<div class="badge">
 					<div class="badge-icon"></div>
 					<div class="badge-pri">等级图标</div>
 					<div class="badge-lv">Lv.1 开启</div>
 				</div>
 				<div class="badge">
 					<div class="badge-icon gray-icon"></div>
 					<div class="badge-pri gray">进场特效</div>
 					<div class="badge-lv gray">Lv.20 开启</div>
 				</div>
 			</div>
 		</div>
	</div>
 	
{% endblock %}

{% block js %}
<!-- <script type="text/javascript" src="/dist/index.js"></script> -->
<script>
	$.ajax({
        url: '/api/rainbow/myLv',
        data: {
        	token:'21fd95a5190a437d9f6ee4da9e2aa230',
	        userId:2,
	  	},  
        type: 'get',
        // async: false,
        dataType: 'json',
        success: function(data) {
            
        },
        error: function() {
            console.log('失败');
        }
    });
</script>
{% endblock %}