{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="/webview/css/level.css">
{% endblock %}
{% block content %}
	<div class="g-bd">
		<div class="g-hd">
 			<div class="m-icon">
 				<img src="{{index.myLv.icon}}" alt="">
 				<div class="m-level">
 					<div class="level"><i class="crown"></i>Lv{{index.myLv.lv}}</div>
 				</div>
 			</div>
            {% if index.myLv.lv < 23 %}
 			<div class="m-pro f-cb">
 				<span class="f-fl">Lv.{{index.myLv.lv}}</span>
 				<div class="progress f-fl">
			      	<span class="orange" id="bar" style="width:{{index.myLv.now_expe/index.myLv.next_lv_expe*100}}%;"><span></span></span>
			    </div>
			    <span class="f-fl">Lv.{{index.myLv.next_lv}}</span>
 			</div>
            <p class="tip">距离LV.{{index.myLv.next_lv}} 还差{{index.myLv.next_lv_expe-index.myLv.now_expe}}经验值</p>
            {% else %}
            <div class="m-pro f-cb">
                <div class="progress f-fl">
                    <span class="orange" id="bar" style="width:100%;"><span></span></span>
                </div>
            </div>
 			<p class="tip">您的等级已爆表</p>
            {% endif %}
 		</div>
 		<div class="g-md">
 			<h3>如何升级</h3>
 			<p>每次充值赠送礼物，均可获得经验值奖励，累计经验即可提升等级！</p>
 		</div>
 		<div class="g-bt">
 			<h3>等级特权</h3>
 			<div class="m-badge f-cb">
                {% for list in index.privilegeList %}
 				<div class="badge">
 					<div class="badge-icon"><img src="http://img.wangyuhudong.com/{{list.icon}}" alt=""></div>
                    {% if list.is_open==1 %}
                    <div class="badge-pri">{{list.name}}</div>
 					<div class="badge-lv">Lv.{{list.lv_id}} 开启</div>
                    {% else %}
                    <div class="badge-pri gray">{{list.name}}</div>
                    <div class="badge-lv gray">Lv.{{list.lv_id}} 开启</div>
                    {% endif %}
 				</div>
                {% endfor %}
                <div class="badge">
                    <div class="badge-icon gray-icon"></div>
                    <div class="badge-pri gray">更多特权</div>
                    <div class="badge-lv more-badge">敬请期待</div>
                </div>
 			</div>
 		</div>
	</div>
 	
{% endblock %}