{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="../dist/index.css">
{% endblock %}
{% block content %}
<div id="room" v-cloak>
    <div class="play-btn icon-play" v-if="state==1"></div>
    <div class="g-ct">
        <div class="m-video">
            <div v-if="state==1">
                <video id="mainvideo" preload="auto" autoplay="true" webkit-playsinline="true" playsinline="true" x5-video-player-type="h5">
                    <source type="application/x-mpegURL" src="{{link}}"/>
                </video>
            </div>           
        </div>
        <div class="m-header">
            <div class="top-container">
                <div class="avatar-contatiner">
                    <i class="avatar icon-avatar icon-toplist" v-bind:style="{backgroundImage: 'url(' + info.user_icon + ')'}" v-bind:data-id="info.userId" @click="showCard"></i>
                    <div class="content">
                        <div class="name">${info.nickname}</div>
                        <div class="author-id">ID ${info.userId}</div>
                    </div>
                    <div class="follow">
                        <a href="javascript:void(0)" class="u-follow-btn" @click="download">关注</a>
                    </div>
                </div>
                <div class="members-container">
                    <i class="item icon-avatar icon-toplist" v-bind:style="{backgroundImage: 'url(' + list.icon + ')'}" v-bind:data-id="list.userId" v-for="list in audienceList"></i>
                </div>
            </div>
            <div class="charm" @click="download">魅力榜 <i class="num">${watchNum(info.charmTotalValue)}</i></div>
        </div>
        <div class="main-section">
            <div class="m-chat">
                 <!-- 飘屏礼物 -->
                <div class="cool-gift">
                    <div></div>
                </div>
                <!-- 高级用户 -->
                <div class="vip-enter">${vip.range}级 <span>${vip.name}</span> 进入直播间</div>
                <div class="chat-area" id="chat"></div>
                <div class="award" @click="download">
                    <div>可领取</div>
                    <img src="/share/images/candies.png" alt="">
                    x30
                </div>
            </div>
            <div class="m-operate f-cb">
                <i class="op-chat f-fl" @click="download"></i>
                <i class="op-gift f-fr" @click="download"></i>
                <i class="op-intro f-fr" @click="showIntro"></i>
            </div>
            <div v-if="gameType==1">
                {% include 'gameModules/niuniu.html' %}
            </div>
            <div v-else-if="gameType==2">
                {% include 'gameModules/maoshu.html' %}
            </div>
            <div v-else-if="gameType==3">
                {% include 'gameModules/threehero.html' %}
            </div>
        </div>
        <!-- 下载 -->
        <div class="m-footer" v-show="adDisplay">
            <img src="/images/icon.png" class="f-fl">
            <div class="f-fl">
                <h3>彩虹直播</h3>
                <p>可以玩的直播间</p>
            </div>
            <i @click="closeAd"></i>
            <a href="javascript:void(0)" class="download-btn f-fr" @click="download">进入直播间</a>
        </div>
    </div>
    <!-- 直播结束 -->
    <div class="m-end-mask m-mask" v-if="state==0">
        <div class="end-bg" v-bind:style="{backgroundImage: 'url(' + info.live_icon + ')'}"></div>
        <div class="end-container">
            <div class="end-head">
                <h3><span></span>&nbsp;&nbsp;&nbsp;直播结束&nbsp;&nbsp;&nbsp;<span></span></h3>
                <i class="avatar icon-avatar" v-bind:style="{backgroundImage: 'url(' + info.user_icon + ')'}"></i>
            </div>
            <div class="end-recommend">
                <h3>精彩推荐</h3>
                <div class="recommend-box">
                    <div class="recommend" v-for="index in otherLive">
                        <a v-bind:href="'/share/index?liveId='+index.id" v-bind:style="{backgroundImage: 'url(' + index.icon + ')'}">      
                            <span><i>·</i>直播中</span>                  
                        </a>
                    </div>
                    <!-- <div class="recommend">
                        <a href="" style="background-image: url('//p.qlogo.cn/hy_personal/4376ae1e0cf0cccedf6a98055419b4438847511323dc7ea3c0fa7f621a7487230663cb77d04f449f658894768049357c/360?tp=webp');">      
                            <span><i>·</i>直播中</span>                  
                        </a>
                    </div> -->
                </div>
            </div>
            <a href="javascript:void(0)" class="u-dl-btn" @click="download">下载彩虹直播</a>
        </div>       
    </div>
    <!-- 礼物连击 -->
    <div class="m-gift-combo">
        <div class="gift-wrap wrap-top f-cb">
            <div class="gift-content f-fl">
                <i class="avatar icon-avatar f-fl" v-bind:style="{backgroundImage: 'url(' + gift_info1.sender_icon + ')'}"></i>
                <div class="gift-info f-fl">
                    <h3>${gift_info1.sender_name}</h3>
                    <p>送出了${gift_info1.gift_name}</p>
                </div>
                <img v-bind:src="gift_info1.gift_icon"class="f-fl" alt="">
            </div>
            <div class="gift-num f-fl">X${gift_num_top}</div>
        </div>
        <div class="gift-wrap wrap-bottom f-cb">
            <div class="gift-content f-fl">
                <i class="avatar icon-avatar f-fl" v-bind:style="{backgroundImage: 'url(' + gift_info2.sender_icon + ')'}"></i>
                <div class="gift-info f-fl">
                    <h3>${gift_info2.sender_name}</h3>
                    <p>送出了${gift_info2.gift_name}</p>
                </div>
                <img v-bind:src="gift_info2.gift_icon" class="f-fl" alt="">
            </div>
            <div class="gift-num f-fl">X${gift_num_bottom}</div>
        </div>
    </div>
    <!-- 全局通知 -->
    <div class="globel-note">
        ${trumpet.name} <span>${trumpet.content}</span> 点击围观
    </div>
    <!-- 大礼物 -->
    <div class="huge-gift">
        <div class="gift-content f-cb">
            <i class="avatar icon-avatar f-fl" v-bind:style="{backgroundImage: 'url(' + hugeGift.sender_icon + ')'}"></i>
            <div class="gift-info f-fl">
                <h3>${hugeGift.sender_name}</h3>
                <p>送出了${hugeGift.gift_name}</p>
            </div>
            <img src="/share/images/gift_star.png" alt="" class="bling">
            <img v-bind:src="hugeGift.gift_icon" class="f-fl" alt="">
        </div>
    </div>
    <!-- 发牌 -->
    <div class="deal-section" v-bind:class="[gameType==2?'rc-deal':'']">
        <ul>
            
        </ul>
    </div>
    <!-- 用户卡片 -->
    <div class="m-pop-mask m-mask" v-show="cardDisplay">
        <div class="anchor-panel">
            <span class="report" @click="download">举报</span>
            <span class="close" @click="closeCard">╳</span>
            <div class="avatar icon-avatar" v-bind:style="{backgroundImage: 'url(' + cardInfo.icon + ')'}" ></div>
            <h3 class="name">
                <span class="name-text">${cardInfo.nickname}</span>
                <span class="sex male" v-if="cardInfo.sex==1"></span>
                <span class="sex female" v-else></span>
                <span class="levelMedal" style="background-image: url('/share/images/fouth_level.png');" v-if="cardInfo.lv>22">${cardInfo.lv}</span>
                <span class="levelMedal" style="background-image: url('/share/images/third_level.png');" v-else-if="cardInfo.lv>12">${cardInfo.lv}</span>
                <span class="levelMedal" style="background-image: url('/share/images/second_level.png');" v-else-if="cardInfo.lv>1">${cardInfo.lv}</span>
                <span class="levelMedal" style="background-image: url('/share/images/first_level.png');" v-else>${cardInfo.lv}</span>
            </h3>
            <p class="anchor-id">Id: ${cardInfo.id}</p>
            <p class="signature" v-if="cardInfo.personalsignature">${cardInfo.personalsignature}</p>
            <p class="signature" v-else>此人还没有留下任何痕迹...</p>
            <ul class="numbers">
                <li><span class="number">${cardInfo.subscribeNum}</span><label>关注</label></li>
                <li><span class="number">${cardInfo.fans}</span><label>粉丝</label></li>
                <li><span class="number">${cardInfo.charmTotalValue}</span><label>魅力</label></li>
            </ul>
            <p class="listen-text"><span @click="download">+ 关注</span></p>
        </div>
    </div>
    <!-- 玩法介绍 -->
    <div class="m-intro-mask m-mask" v-show="introDisplay">
        <div class="game-intro">
            <h3>游戏介绍</h3>
            <div class="intro-content" v-if="gameType">
                <h3>游戏介绍</h3>
                <p v-text="gameRules[gameType-1].content"></p>
                <h3>玩法介绍</h3>
                <div v-html="gameRules[gameType-1].rules"></div>
            </div>
            <div class="u-close" @click="closeIntro"></div>
        </div>
    </div>
</div>
 	
{% endblock %}

{% block js %}
<script type="text/javascript" src="/js/vue.js"></script>
<script type="text/javascript" src="/js/dcodeIO/ByteArray.js"></script>  
<script type="text/javascript" src="/js/dcodeIO/Long.min.js"></script>     
<script type="text/javascript" src="/js/dcodeIO/bytebuffer.min.js"></script>  
<script type="text/javascript" src="/js/dcodeIO/protobuf.min.js"></script>  
<script type="text/javascript" src="/js/sha1.js"></script>
<script type="text/javascript" src="/js/Web_SDK_Base_v2.8.0.js"></script>
<script type="text/javascript" src="/js/Web_SDK_Chatroom_v2.8.0.js"></script>
<script type="text/javascript" src="/dist/index.js"></script>
<script type="text/javascript" src="/dist/chatroom.js"></script>
<script type="text/javascript" src="/dist/game.js"></script>
{% endblock %}