{% extends 'layout.html' %}
{% block css %}
<link rel="stylesheet" href="/withdrawCash/css/login.css">
{% endblock %}
{% block content %}
	<div  class="g-login">
        <div class="m-headIcon">
        	
        </div>
        <div class="test">
        	
        </div>
    </div>
{% endblock %}
{% block js %}
<script type="text/javascript" src="/js/vue.js"></script>
<script type="text/javascript" src="/dist/index.js"></script>
<script>
    window.document.title = "请登录"
</script>
{% endblock %}